$primary: #ffa200;
$secondary: #6eda78;

.testContainer {
  padding: 5%;

  .testContainer1 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }
  .testContainer2 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    .box1 {
      width: 100%;
      display: flex;
    }
    .box2 {
      width: 100%;
      display: flex;
    }
  }

  .col {
    .test1Card {
      height: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: $primary;
      }
      &:active {
        background-color: $secondary;
      }
      .middleButton {
        display: flex;
        gap: 6rem;
      }
      .moveShape.middle {
        margin-left: 5rem;
        width: 50%;
      }
      .moveShape {
        background-color: $secondary;
        color: white;
        text-align: center;
        position: relative;
        top: 2rem;
        border-radius: 2rem;
      }
    }
  }
}

.square {
  width: 100px;
  height: 100px;
  background: gray;
}
.circle {
  width: 110px;
  height: 110px;
  background: gray;
  border-radius: 50%;
}
.oval {
  width: 200px;
  height: 100px;
  background: gray;
  border-radius: 100px / 50px;
}
.trapezoid {
  border-bottom: 100px solid gray;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  width: 145px;
  &:hover {
    border-bottom: 100px solid white;
    background-color: $primary !important;
  }
  &:active {
    background-color: $secondary !important;
  }
}
.parallelogram {
  width: 170px;
  height: 100px;
  transform: skew(20deg);
  background: gray;
}
.rectangle {
  width: 200px;
  height: 100px;
  background: gray;
}
.triangle-up {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid gray;
}
.triangle-down {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid gray;
}
.triangle-left {
  border-top: 50px solid transparent;
  border-right: 100px solid gray;
  border-bottom: 50px solid transparent;
}
.triangle-right {
  border-top: 50px solid transparent;
  border-left: 100px solid gray;
  border-bottom: 50px solid transparent;
}

.shape {
  &:hover {
    background-color: white;
  }
}
